.env
.env.*
*.env
.env.local
.env.*.local

#--- Backend ---

backend/.env
backend/test-gemini.py

frontend_folder_struc.txt
project_brief.md

venv/
.venv/
env/
.env/

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

*.json

#--- Frontend ---

frontend/node_modules/
frontend/dist-ssr
frontend/*.local

frontend/dist/
frontend/build/

frontend/npm-debug.log*
frontend/yarn-error.log*
frontend/logs
frontend/*.log
frontend/yarn-debug.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*


#--- IDE/Editor ---

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

claude.md